body{
    margin: 0;
    padding: 0;
    background: #EAE7DC;
    background-size:cover;
    background-position:center;
    font-family: sans-serif;
}

.loginbox{
    width:320px;
    height: 420px;
    background: #000;
    color: #fff;
    top:50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;


}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    background:#EAE7DC;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background:transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type = "submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #E85A4F;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #D8C3A5;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #E98074;
}

.loginbox a:hover{
    color: #D8C3A5;
}


.registerbox{
    width:320px;
    height: 580px;
    background: #000;
    color: #fff;
    top:50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;


}


.registerbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.registerbox input{
    width: 100%;
    margin-bottom: 20px;
}

.registerbox input[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background:transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.registerbox input[type = "submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #E85A4F;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.registerbox input[type="submit"]:hover{
    cursor: pointer;
    background: #D8C3A5;
    color: #000;
}

.registerbox a{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #E98074;
}

.registerbox a:hover{
    color: #D8C3A5;
}


