body,html{
    margin: 0;
    padding: 0;
}

.entry-title-wrap {
  padding: 6px 12px;
  margin: auto;
  border-radius: 2px;
  max-width: 20em;
  white-space: nowrap;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 55%;
  
}


header{
    width: 100%;
    height: 70px;
    background-color: #8E8D8A;
}

span{
    color: #ffffff;
}

ul{
    width: auto;
    float: right;
    margin-top: 8px;
}

li{
    display: inline-block;
    padding: 15px 30px;
}

h1.title{
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1.child{
	align-items: center;
	text-align: center;
}

a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}

a:hover{
    color: #F0c330;
    transition: 0.5s;
}
