body{
	text-align:center;
	
}

form{
	top:50%;
	display:inline-block;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;

}

input[type=text]:focus {
  border: 3px solid #555;
}

button[type=submit] {
  color: white;

}
