<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Database2020Library</display-name>

	<context-param>
  		<param-name>dbUrl</param-name>
  		<param-value>jdbc:mysql://localhost/mylibrary</param-value>
  	</context-param>
  	<context-param>
  		<param-name>dbUser</param-name>
  		<param-value>root</param-value>
  	</context-param>
  	<context-param>
  		<param-name>dbPassword</param-name>
  		<param-value>1234</param-value>
  	</context-param>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.sawan.Database2020.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmployeeLoginServlet</servlet-name>
		<servlet-class>com.sawan.Database2020.EmployeeLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeLoginServlet</servlet-name>
		<url-pattern>/EmployeeLoginServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>com.sawan.Database2020.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/RegistrationServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ForgotPasswordServlet</servlet-name>
		<servlet-class>com.sawan.Database2020.ForgotPasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPasswordServlet</servlet-name>
		<url-pattern>/ForgotPasswordServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmployeeForgotPasswordServlet</servlet-name>
		<servlet-class>com.sawan.Database2020.EmployeeForgotPasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeForgotPasswordServlet</servlet-name>
		<url-pattern>/EmployeeForgotPasswordServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.sawan.Database2020.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	
	<filter>
    	<filter-name>ValidateUserSession</filter-name>
    	<filter-class>com.sawan.Database2020.ValidateUserSession</filter-class>
  	</filter>
  	<filter-mapping>
    	<filter-name>ValidateUserSession</filter-name>
    	<url-pattern>/ValidateUserSession</url-pattern>
  	</filter-mapping>
</web-app>